<script>
    let columns = [{
        label: "Name",
        name: "name",
    }, {
        label: "Index",
        name: "index",
    }, {
        label: "Phone",
        name: "phone",
    }, {
        label: "Grade",
        name: "grade",
    }, {
        label: "Session",
        name: "session",
    }];

    let rows = [{
        name: "Petar",
        index: "111111",
        phone: "072/111-222",
        grade: "10",
        session: "June",
    },{
        name: "Mitre",
        index: "222222",
        phone: "072/222-333",
        grade: "9",
        session: "September",
    }, {
        name: "Petko",
        index: "333333",
        phone: "078/333-444",
        grade: "8",
        session: "January",
    }];
    let removedStudents = []

    function addRow() {
        if(checkEmpty()) {
            rows.push({
                name: ime,
                index: indeks,
                phone: broj,
                grade: ocena,
                session: sesija
            });
            rows = rows;
            resetInputs();
        }
        else
            alert("Please fill in all fields!")
    }

    function removeRow(i) {
        removedStudents.push({index: rows[i].index, grade: rows[i].grade})
        const part = rows.splice(i, 1);
        rows = rows;
        removedStudents = removedStudents;
    }

    function moveRow(i, direction) {
        const part = rows.splice(i, 1);
        const pos = Math.min(rows.length, Math.max(0, i + direction));
        rows.splice(pos, 0, ...part);
        rows = rows;
    }
    function resetInputs(){
        ime = "";
        indeks = "";
        broj = "";
        ocena = "";
        sesija = "January";
    }
    function checkEmpty(){
        if(ime!='' && indeks!='' && broj!='' && ocena!='' && sesija!='')
            return true
        return false
    }
    let ime = "";
    let indeks = "";
    let broj = "";
    let ocena = "";
    let sesija = "January";
    let visible = true;
</script>

<style>
    #mainDiv{
        width:550px;
    }
    .tableCellWidth{
        width: 50px;
        text-align: center;
    }


</style>



    <h1> Details </h1>
    <div id="mainDiv" style="float:left;">
        <div> Name &nbsp <input bind:value={ime} type="text" id="name"> </div> <br/>
        <div> Index &nbsp 	<input bind:value={indeks} type="text" id="index"> </div> <br/>
        <div> Phone &nbsp <input bind:value={broj} type="text" id="phone"> </div> <br/>
        <div> Grade
            <input bind:group={ocena} type="radio" name="ocena" value="5"> 5
            <input bind:group={ocena} type="radio" name="ocena" value="6"> 6
            <input bind:group={ocena} type="radio" name="ocena" value="7"> 7
            <input bind:group={ocena} type="radio" name="ocena" value="8"> 8
            <input bind:group={ocena} type="radio" name="ocena" value="9"> 9
            <input bind:group={ocena} type="radio" name="ocena" value="10"> 10
        </div> <br/>
        <div>Session &nbsp <select bind:value={sesija} id="sesija">
            <option value="January" selected>January</option>
            <option value="June">June</option>
            <option value="September">September</option>
        </select>
        </div> <br>
        <button on:click={addRow}> Import student </button> <br> <br>
        <table>
            <tr>
                {#each columns as column (column.name)}
                    <th>{column.label}</th>
                {/each}
                <th> Actions </th>
            </tr>
            {#each rows as row, i (i)}
                <tr>
                    {#each columns as column (column.name)}
                        <td class="tableCellWidth">
                            {row[column.name]}
                        </td>
                    {/each}
                    <td> <input type="button" value="Remove" class="tableButtons" on:click|preventDefault={e => removeRow(i)}> </td>
                    <td> <input type="button" value="Up" class="tableButtons" on:click|preventDefault={e => moveRow(i, -1)}> </td>
                    <td> <input type="button" value="Down" class="tableButtons" on:click|preventDefault={e => moveRow(i, 1)}> </td>

                </tr>
            {/each}
        </table>

    </div>
    <div>
        <h1> Remove history </h1> <input type="checkbox" bind:checked={visible}> Enabled

        {#if visible}
            <table>
                {#each removedStudents as student}
                    <tr>{student.index} - Grade {student.grade}</tr>
                {/each}
            </table>
        {/if}
    </div>


