<script>
	import TableComponent from './components/TableComponent.svelte'
	let showHistory = false;
</script>

<style>
	section{
		margin:auto;
		width:800px;
	}
</style>

<section>
	<TableComponent/>
</section>